.wrapper {
	overflow: hidden;
	position: relative;
}

.container {
	margin: 0 auto;
	max-width: 1202px;
	padding: 0 30px;
}




/* ! MOBILE */
.full-screen-card {
	position: relative;
	margin-bottom: 30px;
}

.full-screen-card img {
	width: 100vw;
	height: 100vh;
	object-fit: cover;
}

/*! ARROW-LEFT + ARROW-RIGHT */
.slider-1 .slick-prev,
.slider-1 .slick-next {
	position: absolute;
	transform: translateY(-50%);
	z-index: 100;
	font-size: 0;
	background-color: transparent;
	border: none;
	padding: 0;
}

.slider-1 .slick-prev {
	top: 50%;
	left: 1%;
}


.slider-1 .slick-next {
	top: 50%;
	right: 1%;
}

.slider-1 .slick-prev::before,
.slider-1 .slick-next::before,
.slider-2 .slick-prev::before,
.slider-2 .slick-next::before {
	font-family: 'icomoon' !important;
	speak: never;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	font-size: 30px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.slider-1 .slick-prev::before,
.slider-2 .slick-prev::before {
	content: "\e900";
}

.slider-1 .slick-next::before,
.slider-2 .slick-next::before {
	content: "\e901";
}


/*! ARROW */
.slider-1 .slick-arrow {
	border-radius: 50%;
	color: #e1e6ea;
	transition: color 0.3s linear;
}

.slider-2 .slick-arrow {
	border-radius: 50%;
	color: #8d8f92;
	transition: color 0.3s linear;
}

.slider-1 .slick-arrow:hover {
	color: #37434C;
}

.slider-2 .slick-arrow:hover {
	color: #3a454d;
}

/*! DOTS */
.slider-1 .slick-dots {
	list-style: none;
	display: flex;
	justify-content: center;
	position: absolute;
	bottom: 1%;
	left: 50%;
	transform: translateX(-50%);
	padding: 0;
	margin: 0;
}

.slider-2 .slick-dots {
	list-style: none;
	display: flex;
	justify-content: center;
	padding: 0;
	margin: 0;
}

.slider-1 .slick-dots li,
.slider-2 .slick-dots li {
	padding: 10px;
	font-size: 0;
}

.slider-1 .slick-dots li button,
.slider-2 .slick-dots li button {
	border: none;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background-color: #e1e6ea;
	padding: 0;
	transition: background-color 0.3s linear;
}

.slider-1 .slick-dots li:hover button,
.slider-1 .slick-dots .slick-active button,
.slider-2 .slick-dots li:hover button,
.slider-2 .slick-dots .slick-active button {
	background-color: #37434C;
}

/* !-------------------------------- */
.slider-2 .slick-prev,
.slider-2 .slick-next {
	font-size: 0;
	background-color: transparent;
	border: none;
	padding: 0;
}


.card {
	padding: 0 14px;
}

.card img {
	width: 100%;
}

.photo {
	position: relative;
}



.hover-card {
	position: absolute;
	display: flex;
	flex-direction: column;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	opacity: 0;
	background-color: rgba(255, 255, 255, 0.4);
	transition: opacity 0.4s ease-in-out;
}

.card:hover .hover-card {
	opacity: 1;
}

/* ? Social network */


.social-network {
	display: flex;
	justify-content: center;
	align-items: center;
	list-style: none;
	flex-grow: 1;
	padding: 0;
	margin-bottom: 0;
}


.social-network li {
	padding: 10px;
	margin: 0 1px;
	background-color: #3a454d;
	transition: background-color 0.3s linear;
}

.hover-card .social-network li:hover {
	background-color: #4e5a62;
}

.social-network a {
	padding: 10px;
	font-size: 18px;
	text-decoration: none;
	color: #fff;
}

.fio {
	background-color: #e1e6ea;
	transition: bacground-color 0.3s ease-in-out, color 0.3s linear;
}

.card:hover .fio {
	background-color: #3a454d;
	color: #fff;
}

.fio h2 {
	font-size: 18px;
	font-weight: 600;
	margin-bottom: 9px;
	padding: 0 10px 0;
}


.fio p {
	padding: 0 10px 20px;
	margin-bottom: 0;
}

@media (min-width: 480px){
	.fio h2 {
		font-size: 20px;
	}
}

@media (min-width: 768px) {
	.slider-2 {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.container {
		padding: 0;
	}

	.slider-2 .slick-prev,
	.slider-2 .slick-next {
		padding: 0 10px;
	}

	.fio h2 {
		font-size: 22px;
	}
}

@media (min-width: 1024px){
	.fio h2 {
		font-size: 26px;
	}
}
