.wrapper {
	overflow: hidden;
	position: relative;
}

.container {
	margin: 0 auto;
	max-width: 1172px;
	padding: 0 15px;
}


/* ! MOBILE */
.full-screen-card {
	/* width: 100vw; */
	/* height: 100vh; */
	height: cover;
	width: cover;
	position: relative;
	/* background-size: cover; */
	/* margin-bottom: 50px; */
}

/*! ARROW-LEFT + ARROW-RIGHT */
.slider-1 .slick-prev,
.slider-1 .slick-next,
.slider-2 .slick-prev,
.slider-2 .slick-next {
	position: absolute;
	transform: translateY(-50%);
	z-index: 100;
	font-size: 0;
	background-color: transparent;
	border: none;
	padding: 0;
}

.slider-1 .slick-prev,
.slider-2 .slick-prev {
	top: 50%;
	left: 1%;
}


.slider-1 .slick-next,
.slider-2 .slick-next {
	top: 50%;
	right: 1%;
}

.slider-1 .slick-prev::before,
.slider-1 .slick-next::before,
.slider-2 .slick-prev::before,
.slider-2 .slick-next::before {
	font-family: 'icomoon' !important;
	speak: never;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	font-size: 30px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.slider-1 .slick-prev::before,
.slider-2 .slick-prev::before {
	content: "\e900";
}

.slider-1 .slick-next::before,
.slider-2 .slick-next::before {
	content: "\e901";
}


/*! ARROW */
.slider-1 .slick-arrow {
	border-radius: 50%;
	color: #e1e6ea;
	transition: color 0.3s linear;
}

.slider-2 .slick-arrow {
	border-radius: 50%;
	/* color: #e1e6ea; */
	color: red;
	transition: color 0.3s linear;
}

.slider-1 .slick-arrow:hover {
	color: #37434C;
}

.slider-2 .slick-arrow:hover {
	color: #37434C;
}

/*! DOTS */
.slider-1 .slick-dots {
	list-style: none;
	display: flex;
	justify-content: center;
	position: absolute;
	bottom: 1%;
	left: 50%;
	transform: translateX(-50%);
	padding: 0;
	margin: 0;
}

.slider-2 .slick-dots {
	list-style: none;
	display: flex;
	justify-content: center;
	padding: 0;
	margin: 0;
}

.slider-1 .slick-dots li,
.slider-2 .slick-dots li {
	padding: 10px;
	font-size: 0;
}

.slider-1 .slick-dots li button,
.slider-2 .slick-dots li button {
	border: none;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background-color: #e1e6ea;
	padding: 0;
	transition: background-color 0.3s linear;
}

.slider-1 .slick-dots li:hover button,
.slider-1 .slick-dots .slick-active button,
.slider-2 .slick-dots li:hover button,
.slider-2 .slick-dots .slick-active button {
	background-color: #37434C;
}
/* !-------------------------------- */


.card {
	padding: 0 15px;
	position: relative;
}

.card img {
	width: 100%;
}

/* ? Social network */

.hover-card {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.social-network {
	padding-left: 0;
	list-style: none;
}

.social-network li {
	display: flex;
	justify-content: center;
	align-items: center;
}

.social-network a {
	display: inline-block;
	text-decoration: none;
	color: red;
}
